@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}
/* default styles */
* {
    margin: 0;
}
/* .nav-container, .explore-your-travel{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    align-items: center;                  
} */
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    align-items: center;   
}




/* shared styles */
h3{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-height: normal;
}
p, li{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
 }

.span{
    color: #FF5400;
}
.display-flex{
    display: flex;
}

/* nav related styles */
.nav-items{
    gap: 44px;
} 
.logo{
    gap: 20px;
    align-items: center;
    width: 280px;
}

.nav-container {
   justify-content: space-between;
 }
 .nav-items p{
    cursor: pointer;
 }

 /* banner related styles */
 .explore-your-travel{
    background-image:linear-gradient(180deg, rgba(19,19,24,0.8) 0%, rgba(19,19,24,0) 100%),    
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
      
 }
 .explore-container h3{
    color: white;
    font-size: 4rem;
    font-weight: 800;
 }
 .explore-container p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin:auto;


 }
 .travel-input{
    justify-content: space-around;
    align-items: center;
       padding: 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(4px);
      }

    input, select{
        width: 175px;
        height: 50px;
        padding: 0 0.5px;
        margin: 0 1rem;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        }
   .btn-primary{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    background-color: #FF5400;
    color: white;
    border: 1px solid #FF5400;
    border-radius: 8px;
   }
 



 /* instructor's concept */
/* .logo img{
    width: 48px;
    height: 56px;
    margin-right:0.5rem;
} */

/* .nav-items{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
} */

 